<div class="container-fluid mt-3">
    <h3>Products</h3>
    <div class="row mt-3">
        <div class="col-sm-2" *ngFor="let product of productList">
            <div class="product-item">
                <img
                    src="{{product.imageURL}}" />
                <div class="product-detail">
                    <h6 class="name">{{product.name}}</h6>
                    <div class="price">
                        <h6>£{{product.price}}</h6>
                    </div>
                    <div class="color">
                        <h6>{{product.color}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a href="" routerLink="/product-details/{{product._id}}">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>