<div class="container mt-3">
    <h3 *ngIf="mode === 'add'">Add Product</h3>
    <h3 *ngIf="mode === 'edit'">Edit Product</h3>
    <form class="row g-3 mt-3" [formGroup]="productForm">
        <div class="col-12">
            <label for="name" class="form-label">Product Name</label>
            <input type="text is-invalid" class="form-control" formControlName="name" id="name">
            <div class="text-danger" *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].touched ||
            productForm.controls['name'].dirty)">
                Please enter product name.
            </div>
        </div>
        <div class="col-12">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" id="price">
            <div class="text-danger" *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].touched ||
            productForm.controls['price'].dirty)">
                Please enter price.
            </div>
        </div>
        <div class="col-12">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" formControlName="color" id="color">
            <div class="text-danger" *ngIf="productForm.controls['color'].invalid && (productForm.controls['color'].touched ||
            productForm.controls['color'].dirty)">
                Please choose color.
            </div>
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
            <div class="text-danger" *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].touched ||
            productForm.controls['description'].dirty)">
                Please enter product decription.
            </div>
        </div>
        <div class="col-12">
            <label for="url" class="form-label">Image Url</label>
            <input type="text" class="form-control" formControlName="imageURL" id="url">
            <div class="text-danger" *ngIf="productForm.controls['imageURL'].invalid && (productForm.controls['imageURL'].touched ||
            productForm.controls['imageURL'].dirty)">
                Please enter valid product image url.
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" (click)="save()">Submit</button>
        </div>
    </form>
</div>