table{
    text-align:  left;
    color: blueviolet;
}

table td, table th{
    border: 1px solid blueviolet;
    min-height: 160 px;
    padding:  10px;
}

img{
    width: 100px;
    height: 100px;
}